@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(rgb(255, 255, 255), rgb(255, 136, 0));
  font-family: "Nerko One", cursive;
  font-size: 1.5rem;
}

body section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 470px;
  border-radius: 15px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.8);
  background-color: rgba(255, 116, 116, 0.835);
}

form {
  width: 95vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

form input {
  background-color: rgb(228, 228, 228);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  height: 25px;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

form input:hover {
  box-shadow: inset 0 0 5px black;
}

.button {
  display: flex;
  flex-direction: column;
}
.button .btn {
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: rgb(228, 228, 228);
}

.button .btn:active {
  background-color: rgb(191, 188, 188);
  transform: scale(85%);
}

.button .btn:hover {
  box-shadow: inset 0 0 5px black;
}

.buttons {
  display: flex;
  gap: 10px;
  text-align: center;
  font-size: 1.2rem;
}

.btn {
  width: 50px;
  height: 25px;
}

.result {
  text-align: center;
  margin: 0 10px;
}
