* {
  margin: 0;
  padding: 0;
}

.Form {
  background-color: bisque;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: auto;
  margin-bottom: 10px;
  height: 100px;
  max-width: 400px;
}

.formSearch {
  padding-left: 8px;
  height: 40px;
  width: 200px;
}

.formSubmit {
  padding: 5px 10px;
  border-radius: 8px;
  border: 1px solid transparent;
}

.formSubmit:hover {
  border: 1px solid black;
}
