* {
  margin: 0;
  padding: 0;
}

.Post {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 10px;
  width: 350px;
  height: 530px;
  font-size: 0.8rem;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.postHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 8px;
}

.headerLeft {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
}

.headerMenu {
  font-size: 30px;
  cursor: pointer;
}

.postImg {
  box-shadow: inset 0 0 5px rgb(55, 49, 248);
  background: rgb(131, 58, 180);
  background: linear-gradient(
    317deg,
    rgb(148, 71, 199) 20%,
    rgb(255, 64, 172) 50%,
    rgb(250, 186, 97) 80%
  );
  border-radius: 100%;
  height: 50px;
  width: 50px;
}

.fakeImgContainer {
  height: 350px;
  width: 370px;
  overflow: hidden;
}

.likeButton {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.postIcons {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 30px;
  width: 100%;
}

.leftPostIcons {
  display: flex;
  gap: 15px;
}

.leftPostIcons button {
  cursor: pointer;
  background: none;
  border: 0;
}

.rightPostIcons {
  box-sizing: border-box;
}

.likes {
  width: 100%;
}

.postText {
  text-align: left;
  height: 75px;
  overflow-y: scroll;
  padding-right: 10px;
}

.saveButton {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border: 0;
  background: transparent;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .postText::-webkit-scrollbar {
    width: 3px;
  }
  .postText::-webkit-scrollbar-thumb {
    background-color: rgba(4, 4, 4, 0.518);
  }
}
