* {
  box-sizing: border-box;
  margin: 0;
}

html {
  background-image: url(Image.jpg);
  background-position: top 60% left 50%;
  background-attachment: fixed;
}

body {
  background-color: rgba(255, 255, 255, 0.436);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.gallery_h1 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 80vw;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65vw;
  gap: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

form .createBtn {
  width: 100px;
  height: 30px;
  margin-bottom: 10px;
}

.deleteBtn {
  width: 80px;
  height: 30px;
}

.actors_gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100vw;
}

.card {
  width: 197px;
  height: 300px;
  border-radius: 5px;
  box-shadow: inset 0 0 10px black;
  background-color: #006eff95;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.card-id {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 50%;
  text-align: center;
}
.card-img {
  width: 100px;
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.539);
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
}
.card-info {
  padding-top: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  width: 70%;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  body {
    height: 100vh;
  }
  .actors_gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  html {
    background-position: center;
  }
}
